/* ------Cabeçalho------*/

.cabecalho {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF4F4;
  position: fixed;
  border-bottom: 1px solid rgb(179, 139, 139);  /* borda inferior do cabeçalho */
}

.promo {
  width: 100%;
  height: 2rem;
  background-color: #C58C8C;  /* cor de fundo da promoção */
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Chiron Sung HK", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:italic;
  font-size: 1.2rem;  /* tamanho da fonte */

}

.topo {
  width: 100%;
  height: 4rem; /* altura do cabeçalho */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* deixa os lados afastados */
}

a:hover {
  text-decoration: none;  /* NÃO APLICOU O <A> DO HOME! VER PORQUE*/
  transform: scale(1.1);  /* Aumenta o tamanho em 20% */
}

.logo-cabecalho {
  height: 4.5rem; /* altura da logo */
}

.barra-pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  gap: 0.2rem;
}

.btn-pesquisa {
  background-color: #C58C8C;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input {
  color: #241814;
}

.btn-pesquisa:hover {
  background-color: #9E5A5A;  /* cor de fundo ao passar o mouse */
}

.fav{
  cursor: pointer;
}

.menu-categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.categorias {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  gap: 3rem;  /* Espaçamento entre as categorias */
}

.categoria {
  text-decoration: none;  /* remove o sublinhado */
  color: #241814; /* cor do texto */
  padding: 0.5rem 1rem; /* espaçamento interno */
}

.ver-tudo {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #241814;
  color: #f0f0f0;
  border-radius: 0.5rem;
  text-decoration: none;
}