/* ------ Produto Principal  -------*/

.produto-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-produto-pricipal {
    width: 80%;
    max-width: 1200px; /* largura máxima do card */
    height: 20rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(197, 140, 140, 0.7); 
    padding: 2rem;
    margin: 4rem ; 
}

.descricao-produto{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem; /* Espaço entre os elementos */
    max-width: 55%; /* largura máxima da descrição */
}

.preco{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; /* Espaço entre os elementos */
}

.estoque {
    background-color: #BA0000;
    color: #FFF4F4; 
    padding: 0.2rem 0.5rem; 
    border-radius: 0.5rem; 
    font-weight: bold; /* texto em negrito */
    font-size: 1rem;
}

.descricao-produto h2 {
    font-size: 2rem;
    color: #241814; 
}

.descricao-produto p {
    font-size: 1.2rem;
    color: #241814; 
}

.preco-desconto {
    font-size: 1.5rem;
    color: #241814; 
    font-weight: bold; /* texto em negrito */
}

.preco-original {
    font-size: 1rem;
    color: #9E5A5A; 
    text-decoration: line-through; /* linha no meio do texto */
}

.desconto-porcento{
    color: white; 
}

.preco div {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 1rem;
    background-color: rgb(0, 224, 0);
    font-size: 0.7rem;
    border-radius: 0.3rem;
}

.btn-compra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; /* Espaço entre os botões */
    margin-top: 1rem;
}

.btn-comprar {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #241814;
    color: #f0f0f0;
    border: none;
    border-radius: 0.5rem; 
}

.btn-comprar:hover {
    background-color: #9E5A5A; 
    color: #f0f0f0;
}

.btn-ver {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #ebcccc; 
    color: #241814; 
    border: none;
    border-radius: 0.5rem;
}

.btn-ver:hover {
    background-color: #9E5A5A;
    color: #f0f0f0; 
}

.alianca-principal {
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(197, 140, 140, 0.4);;
}
