.produtos {
  width: 70rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #ff0000;
}

.produto {
  width: 10rem;
  height: 10rem;
  border: 1px solid #000;
}

