*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF4F4;
}




/* ------Cabeçalho------*/

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF4F4; 
    position: fixed;
}

.topo{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* deixa os lados afastados */  
    position: relative; /* referência para o position absolute da logo */
    gap: 1rem;
}

.topo, a{
    text-decoration: none; /* remove o sublinhado */
    color: #241814; /* cor do texto */
}

a:hover {
    text-decoration: none;                  /* NÃO APLICOU O <A> DO HOME! VER PORQUE*/
    transform: scale(1.1); /* Aumenta o tamanho em 20% */
}

.logo-cabecalho {
    height: 3.5rem; /* altura da logo */    
    left: 50%;
    transform: translateX(50%); /* centraliza no eixo X */
    height: 3.5rem;
}

.barra-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    gap: 0.2rem;
}

.pesquisa {
    width: 10rem; 
    height: 2rem;
    border: 1px solid #C58C8C; 
    border-radius: 0.5rem; /* borda arredondada */
    padding: 0.5rem; /* espaçamento interno */

}

.pesquisa:focus {
    outline: none; /* remove o contorno padrão do navegador */
    border: 1px solid #9E5A5A; /* borda azul ao focar */
}

.btn-pesquisa {
    background-color: #C58C8C; 
    color: white; 
    border: none; 
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer;
}

input {
    color: #241814;
}

.btn-pesquisa:hover {
    background-color: #9E5A5A; /* cor de fundo ao passar o mouse */
}

.favoritos{
    font-size: 1.5rem; /* trocar e recolocar icone tipo de coração -----------------------------------*/
}


.menu-categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.categorias {
    display: flex;
    font-size: 1.2rem;
    gap: 5rem; /* Espaçamento entre as categorias */
}

.categoria {
    text-decoration: none; /* remove o sublinhado */
    color: #241814; /* cor do texto */
    padding: 0.5rem 1rem; /* espaçamento interno */
}

.ver-tudo {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #241814;
    color: #f0f0f0;
    border-radius: 0.5rem; /* borda arredondada */
}

/* ------ Banner e Produto Principal -------*/

.banner-produto{
    width: 100%;
    min-height: 40rem; /* altura mínima do banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/banner.png'); /* imagem de fundo do banner */
    background-size: cover; /* cobre todo o espaço do banner */
    background-position: center; /* centraliza a imagem */
    border: 1px solid #C58C8C;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificado-texto {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.texto-banner {
    font-size: 5rem
    
}

.btn-banner {
    background-color: #f0f0f0; 
    color: #241814; 
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    cursor: pointer; /* cursor de mão ao passar o mouse */
}

.texto-banner {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.produto-principal {
    border: 1px solid #e5ff00;
}

/* ------Main------*/

main {
    
    /* largura máxima do main */
    background-color: #f0f0f0; /* cor de fundo do main */
    border: 1px solid #1900ff;
}

/* ------ Banner ------*/

.banner-produto {
    width: 100%;
    height: 300px; /* altura do banner */
    border: 1px solid #ff00ff;
    
}

/* ------ Main Produtos------*/

.produtos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.lista-produtos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem; /*Espaço entre os cards de alianças*/
    border: 1px solid #00ff19;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 12rem;
    border: 1px solid #4400ff;
    margin: 0.5rem;
}



/* ------Footer------*/

.informacoes {
    width: 100%;
    height: 40rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff0000;
}



